
$color-orange-light:#feca57;
$color-orange-dark:#ff7f50;

$color-blue-light:#70a1ff;
$color-blue-dark:#5352ed;

$color-green-light:#55efc4;
$color-green-dark:#00b894;

$color-white:#ffffff;
$color-grey:#576574;
$color-grey-light:#dcdde1;

$grid-gutter-vertical:6rem;
$box-shadow:-.1rem .2rem .5rem 0rem rgba(0,0,0,0.75);