.section-tours-features {

	box-shadow:$box-shadow;
	height:35rem;
	padding:2rem;
	transition:transform .3s;
	background-color:rgba($color-grey-light,.7);
	
	i {
		font-size:5rem;
		background-image:linear-gradient(to right bottom,$color-green-light,$color-green-dark);
		-webkit-text-fill-color:transparent;
		text-fill-color:transparent;
		-webkit-background-clip:text;
		background-clip:text;
	}

	h3 {
		font-size:2rem;
		text-transform:uppercase;
	}

	p {
		font-size:1.5rem;
		text-transform:capitalize;
	}

	& > *:not(:last-child) {
		margin-bottom:4rem;
	}

	&:hover {
		transform:translateY(-2rem);
	}
}