.header {
	position:relative;
	height:120vh;
		background-image:linear-gradient(to right bottom,rgba($color-green-light,.5),rgba($color-green-dark,.5)),url(../img/hero.jpg);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
	
}

.section-about {

	padding-top:25rem;
	margin-top:-17rem;
	background-color:rgba($color-grey-light,.2);
	text-transform:uppercase;
	padding-bottom:30rem;
	
	&-heading {
		text-align:center;
		font-size:3rem;		
		background-image:linear-gradient(to right bottom,$color-green-light,$color-green-dark);
		-webkit-text-fill-color:transparent;
		text-fill-color:transparent;
		-webkit-background-clip:text;
		background-clip:text;
		margin-bottom:5rem;

	}
}

.section-tours {
	margin-top:-15rem;	
	text-align:center;
	background-image:linear-gradient(to right bottom,rgba($color-green-light,.6),rgba($color-green-dark,.6)), url(../img/nat-4.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	padding-top:20rem;	
	padding-bottom:20rem;
	clip-path: polygon(0 19%, 100% 0%, 100% 81%, 0% 100%);
	
}

.section-tour-cards {
	margin-top:-15rem;
	text-transform:uppercase;
	background-color:rgba($color-grey-light,.2);
	padding-top:20rem;
}